@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
}

body {
    background-color: #FEA5AB;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    margin: 100px 0px 0px 0px;
}

main {
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.500);
    border-radius: 20px;
    display: inline-flex;
}

article.perfil {
    width: 370px;
    height: 370px;
    padding: 85px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
}

.nome {
    color: #51434a;
    margin: 6px 0px 0px 0px;
}

.foto {
    margin: 0px 0px 6px 0px;
}

.descricao {
    font-size: 24px;
    color: #ff4754;
    margin: 0px;
}

article.conteudo {
    width: 670px;
    height: 370px;
    padding: 85px;
    background-color: #FFEEEF;
    border-radius: 0px 20px 20px 0px;
}

.texto {
    color: #51434a;
    margin: 0px;
}

.botao-fora {
    background-color: #ff4754;
    padding: 20px 0px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    border-radius: 50px;
    margin-top: 75px;
}

a.botao {
    width: 100%;
    color: #ffffff;
    text-decoration: none;
}